*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!README.md
!Kconfig
include/config
include/generated

# flex/bison
!/src/monitor/sdb/expr.l
!/src/monitor/sdb/expr.y
src/monitor/sdb/expr.lex.c
src/monitor/sdb/expr.tab.c
src/monitor/sdb/expr.tab.h

# verilator
obj-verilator

# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
!/mill

# markdown
!BUG_REPORT_DIFFTEST.md
